@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f8;
    padding: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 75px;
    background-color: white;
    padding: 1px 13px;
    max-width: 1500px;
    margin: 11px auto;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.logo img {
    width: 155px;
}

.nav-items ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav-items ul a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Satoshi', sans-serif;
}

.nav-items ul li a:hover {
    color: rgb(80, 80, 80);
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-btns .login-btn {
    padding: 9px 12px;
    background-color: transparent;
    font-size: 15px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    border-radius: 18px;
}

.nav-btns .Get-Started-btn {
    padding: 9px 12px;
    background-color: rgb(1 126 248);
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 18px;
}

button {
    border-color: #e5e7eb;
    border-style: solid;
    border-width: 1px;
}

.hero-section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.heading-one h2 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: rgb(1, 126, 248);
    padding: 26px 178px;
    letter-spacing: 1.5px;
}

.heading-two h1 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 800;
    font-size: 72px;
    color: black;
    padding: 9px 178px;
    line-height: 80px;
}

.heading-para p {
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: black;
    padding: 9px 178px;
    line-height: 28px;
}

.heading-btns {
    padding: 9px 178px;
    gap: 20px;
}

.heading-btns .Get-Started-btn {
    padding: 9px 12px;
    background-color: rgb(1 126 248);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 18px;
}

.heading-btns .watch-video-btn {
    padding: 9px 12px;
    background-color: transparent;
    font-size: 16px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    border-radius: 18px;
}

.reviews-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    background-color: white;
    padding: 13px 23px;
    max-width: 398px;
    margin: 37px 179px;
}

.reviews-cards p {
    padding: 9px 3px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
}

.card-inner {
    display: inline;
}
.card-inner strong{
    color: gray;
    font-weight: 500;
    font-size: 18px;
}
.card-inner img {
    width: 145px;
}

.hero-right {
    background-color: white;
    border-radius: 24px;
    margin: auto 170px;
}

.hero-image img {
    max-width: 100%;
    height: auto;

}